
.formulario {
    text-align: center;
    padding: 40px;
}

h2 {
    font-size: 60px;
    margin: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
}

button {
    cursor: pointer;
    padding: 10px;
}

.error {
    margin-top: 40px;
    padding: 30px;
    background-color: red;
    color: white;
    font-size: 50px;
}

.success {
    margin-top: 40px;
    padding: 30px;
    background-color: green;
    color: white;
    font-size: 50px;
}