h1 {
    color: white;
}

.contenedor {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.contenedor .fila .personaje{
    padding-bottom: 40px;
}

.contenedor .fila .personaje img {
    box-shadow: 0 0 0 3px;
    border-radius: 12px;
}

.contenedor .fila .personaje h2 {
    color: black;
    font-weight: bold;
}

.contenedor .fila .personaje p {
    color: black;
}