.quienes {
    color: black;
    margin: 30px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.presentacion {
    background: rgba(255, 255, 255, 0.559);
    color: black;
    padding: 30px;
    font-size: 30px;
    margin-top: 100px;
}

.relleno {
    color: black;
    padding: 30px;
    font-size: 30px;
}

.remate {
    background: rgba(255, 255, 255, 0.559);
    color: black;
    padding: 30px;
    font-size: 30px;
}

.carruselContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 460px;
    width: auto;
    background: white;
}